<div [ngClass]="(isVisible)?'autocomplete-fadein':'autocomplete-fadeout'"
    class="auto-complete-container"
    >
    <div class="back-icon">
        <i (click)="toggleView()" class="icon mr-1 fas fa-arrow-left"></i>
    </div>
    <div class="auto-complete">
        <div class="results-container">
           <div class="no-results"
                *ngIf="autocompleteList==undefined || autocompleteList.length == 0; else autocompleteItems" >
                0 resultados...
           </div>
           <ng-template #autocompleteItems>
               <ul>
                   <li (click)="handleAutocompleteItemClick($event)" class="autocomplete-item" *ngFor="let autocompleteItem of autocompleteList">
                    <i class="icon mr-1 fas fa-clock"></i>
                    {{ autocompleteItem }}
                   </li>
               </ul>
           </ng-template>
        </div>

    </div>
</div>