.site-alert-text {
    padding: 10px;
    text-align: center;
}
.site-alert.warning {
    padding: 16px;
    text-align: center;
    background-color: #ffc107;
}

.site-alert {
    position: fixed;
    top: 64px;
    width: 100%;
    z-index: 3;
}
