<div class="navbar-container">
   <div class="brand">
    <a href="#" class="navbar-brand">
      <img src="../assets/images/logo.png" alt="AMIC Logo" [style.width.px]="50">
    </a>
    
    <div class='amic-search'>
      <app-search-bar></app-search-bar>
    </div>
  </div> 

  <div #navElements class="nav-elements">
    <ul>
      <li *ngFor="let navRoute of navRoutes" class="nav-item">
        <a 
          [routerLink]='navRoute.routes'
          class="nav-link">
          <app-nav-link 
            [routes]='navRoute.routes' 
            [routeName]='navRoute.routeName'></app-nav-link>
        </a>
      </li>
      
      <hr [ngStyle]='checkCurrentRoute()' class="nav-underline" />
    </ul>
  </div>

</div>

<app-under-construction></app-under-construction>

<div class="site-container">
  <!--page content here-->
  <div class="router-pane">
    <router-outlet></router-outlet>
    
  </div>
</div>


